<form
  [formGroup]="heroForm"
  #formDir="ngForm"
  class="password-form"
>

  <div class="password-form-content">
    <div>
      <label for="password">password: </label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        required
      >
    </div>

    <div class='line_wrapper'>
      <div
        class='checker line1'
        [ngClass]="{
          'collor_green': password.errors?.['passwordStrength'].value === 3,
          'collor_yellow': password.errors?.['passwordStrength'].value === 2,
          'collor_red': password.errors?.['passwordStrength'].value === 1 || password.errors?.['minlength']
         }"
      ></div>

      <div
        class='checker line2'
        [ngClass]="{
         'collor_green': password.errors?.['passwordStrength'].value === 3,
         'collor_yellow': password.errors?.['passwordStrength'].value === 2,
         'collor_red': password.errors?.['minlength']
        }"
      ></div>

      <div
        class='checker line3'
        [ngClass]="{
          'collor_green': password.errors?.['passwordStrength'].value === 3,
          'collor_red': password.errors?.['minlength']
        }"
      ></div>
    </div>

  </div>
</form>
