<div class='line_wrapper'>
  <div
    class='checker line1'
    [ngClass]="{
      'collor_green': calcPassStrength() === 3,
      'collor_yellow': calcPassStrength() === 2,
      'collor_red': calcPassStrength() === 1
     }"
  ></div>

  <div
    class='checker line2'
    [ngClass]="{
     'collor_green': calcPassStrength() === 3,
     'collor_yellow': calcPassStrength() === 2,
     'collor_red': calcPassStrength() === 1
    }"
  ></div>

  <div
    class='checker line3'
    [ngClass]="{
      'collor_green': calcPassStrength() === 3,
      'collor_red': calcPassStrength() === 1
    }"
  ></div>
</div>
