.line1 {
  width: 35%;
  height: 4px;
  border-radius: 5px;
  background-color: gray;
}

.line2 {
  width: 35%;
  height: 4px;
  border-radius: 5px;
  background-color: gray;
}

.line3 {
  width: 35%;
  height: 4px;
  border-radius: 5px;
  background-color: gray;
}

.line_wrapper {
  display: flex;
  margin-top: 10px;
}

.checker:nth-child(-n + 2) {
  margin-right: 10px;
}

.collor_red {
  background-color: red;
  box-shadow: 0 0 5px red,
  0 0 5px red;
}

.collor_yellow {
  background-color: #d9ff00;
  box-shadow: 0 0 5px #d9ff00,
  0 0 5px #d9ff00;
}

.collor_green {
  background-color: green;
  box-shadow: 0 0 5px green,
  0 0 5px green;
}
